################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AuthenticationRest/CopilotIndices/17.12.53.23981
/.vs/AuthenticationRest/DesignTimeBuild
/.vs/AuthenticationRest/FileContentIndex
/.vs/AuthenticationRest/v17
/.vs/ProjectEvaluation
/AppInsightTesting/bin/Debug/net8.0
/AppInsightTesting/obj
/Auth.BackgroundService/bin/Debug/net8.0
/Auth.BackgroundService/obj/Debug/net8.0
/Auth.BackgroundService/obj
/Auth.Exception/bin/Debug/net8.0
/Auth.Exception/obj/Debug/net8.0
/Auth.Exception/obj
/AuthenticationRest/bin/Debug/net8.0
/AuthenticationRest/obj/Debug/net8.0
/AuthenticationRest/obj
/ConsoleApp1/bin/Debug/net8.0
/ConsoleApp1/obj/Debug/net8.0
/ConsoleApp1/obj
/.vs/AuthenticationRest/config
